# Dossiers générés par Unity
# Fichiers et dossiers générés par Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/

# Fichiers et dossiers de packages Unity (garder les JSON)
[Pp]ackages/PackageCache/
[Pp]ackages/*/package.json.meta

# Fichiers spécifiques aux éditeurs
.vscode/
*.csproj
*.pidb
*.sln
*.suo
*.userprefs
*.user
*.booproj
*.svd

# Autres fichiers temporaires
*.swp
*.lock
*.tmp
*.temp